In [1]:
pip install imblearn

Requirement already satisfied: imblearn in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in /Users/soniamalko/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [5]:
columns = [
    "Year", "Quarter", "Month", "DayofMonth",
    "DayOfWeek", "DOT_ID_Reporting_Airline", "Flight_Number_Reporting_Airline", "OriginAirportID",
    "OriginAirportSeqID", "OriginCityMarketID", "OriginStateFips", "OriginWac",
    "DestAirportID", "DestAirportSeqID", "DestCityMarketID", "DestStateFips",
    "DestWac", "CRSDepTime", "DepTime", "DepDelay",
    "DepDelayMinutes", "DepDel15", "DepartureDelayGroups", "DepTimeBlk",
    "TaxiOut", "WheelsOff", "WheelsOn", "TaxiIn",
    "CRSArrTime", "ArrTime", "ArrDelay", "ArrDelayMinutes",
    "ArrDel15", "ArrivalDelayGroups", "ArrTimeBlk", "Cancelled"
]

target = ["DepDel15"]

In [10]:
file_path = Path('../Resources/Delays_Cancelations.csv')
df = pd.read_excel(file_path)[:-2]
print(df.columns)
df = df.loc[:, columns].copy()

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'DOT_ID_Reporting_Airline', 'Flight_Number_Reporting_Airline',
       'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID',
       'OriginStateFips', 'OriginWac', 'DestAirportID', 'DestAirportSeqID',
       'DestCityMarketID', 'DestStateFips', 'DestWac', 'CRSDepTime', 'DepTime',
       'DepDelay', 'DepDelayMinutes', 'DepDel15', 'DepartureDelayGroups',
       'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn',
       'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode',
       'Diverted', 'CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Flights',
       'Distance', 'DistanceGroup'],
      dtype='object')

In [11]:
df = df.dropna(axis='columns', how='all')

In [12]:
df = df.dropna()

In [13]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled
0,2022,1,1,2,7,20452,4922,12266,1226603,31453,...,1610.0,11.0,1600,1621.0,21.0,21.0,1.0,1.0,1600-1659,0
1,2022,1,1,3,1,20452,4922,12266,1226603,31453,...,1554.0,4.0,1600,1558.0,-2.0,0.0,0.0,-1.0,1600-1659,0
2,2022,1,1,4,2,20452,4922,12266,1226603,31453,...,1503.0,16.0,1529,1519.0,-10.0,0.0,0.0,-1.0,1500-1559,0
3,2022,1,1,5,3,20452,4922,12266,1226603,31453,...,1612.0,10.0,1529,1622.0,53.0,53.0,1.0,3.0,1500-1559,0
4,2022,1,1,6,4,20452,4922,12266,1226603,31453,...,1520.0,7.0,1529,1527.0,-2.0,0.0,0.0,-1.0,1500-1559,0